$primary-color: #116
$secondary-color: #fff

.CardsCreationForm
  width: 250px
  height: 280px
  margin: 20px
  padding-top: 30px
  padding-bottom: 30px
  display: flex
  justify-content: space-between
  align-items: center
  flex-flow: column wrap
  position: fixed
  left: -1px
  top: 350px
  border: 6px solid $primary-color
  color: $primary-color
  background-color: $secondary-color

.Warning
  color: #c71010
  font-size: 10px

.Input
  height: 20px

.InputWrapper
  height: 40px
  display: flex
  flex-direction: column
  align-items: flex-start
