$primary-color: #116
$secondary-color: #fff

.Card
  width: 250px
  height: 300px
  margin: 20px
  display: flex
  justify-content: center
  align-items: center
  flex-flow: column wrap
  border: 2px solid $primary-color
  color: $primary-color
  background-color: $secondary-color

.RemoveButton
  width: 25px
  height: 25px
  margin: 1px
  display: flex
  align-self: flex-end
  justify-content: center
  align-items: center
  border: 2px solid $primary-color
  font-size: 24px

.cardImg
  display: block

.cardImgWrapper
  border: 2px solid $primary-color
