@use "../variables" as *
@use "../mixins" as *

.button
  @include centered-flex ()
  outline: none

.link-reset
  @include ref-reset

.button__item
  width: 200px
  height: 50px
  border: $border
  @include radius ()
  &:hover
    @include hover ()
  
.button__subscibe
  position: relative
  bottom: 51px
  left: 65vw

.button__item_color-sec
  background-color: $secondary-color

.button__item_color-prim
  background-color: $primary-color

.link_colors-prim
  color: $primary-color

.link_colors-sec
  color: $secondary-color
