@use "../variables" as *
@use "../mixins" as *

.button
  @include centered-flex ()
  outline: none

.link-reset
  @include ref-reset

.button__item
  width: 200px
  height: 50px
  border: $border
  @include radius ()
  &:hover
    @include pointer ()
    color: $secondary-color
    background: rgb(245,216,229)
    background: radial-gradient(circle, rgba(245,216,229,1) 1%, rgba(221,70,100,1) 99%)

.button__subscibe
  position: relative
  bottom: 51px
  left: 65vw

.button__item_color-sec
  background-color: $secondary-color

.button__item_color-prim
  background-color: $primary-color

.link_colors-prim
  color: $primary-color

.link_colors-sec
  color: $secondary-color
