.decor-image_position
  position: absolute

.decor-image__elem-left
  top: 300px

.decor-image__elem-right
  left: (100vw - 15)

.decor-image__left-upper
  right: (100vw - 20)
  bottom: 98vh

.decor-image__left-lower
  right: 962px
  top: 400px

.decor-image__right-upper
  left: (100vw - 20)
  bottom: 102vh

.decor-image__right-lower
  right: 182px
  bottom: 100px
