@use "../mixins" as *

.decor-image
  z-index: 10
  @include mobile ()
    width: 70px
    height: 70px

.decor-image_position
  position: absolute

.decor-image__elem-left
  top: 300px
  @include tablet ()
    top: 80px
  @include mobile ()
    top: 675px

.decor-image__elem-right
  left: 85vw
  @include tablet ()
    top: 50px
  @include mobile ()
    left: 80vw

.decor-image__left-upper
  top: 2090px
  left: 60px
  @include tablet ()
    top: 1816px
  @include mobile ()
    top: 1449px

.decor-image__left-lower
  top: 2595px
  left: 315px
  @include tablet ()
    top: 2425px
    left: 200px
  @include mobile ()
    top: 2275px
    left: 120px

.decor-image__right-upper
  top: 2080px
  left: 85vw
  @include tablet ()
    top: 1250px
    left: 80vw
  @include mobile ()
    top: 1140px
    left: 80vw

.decor-image__right-lower
  top: 2623px
  right: 164px
  @include tablet ()
    top: 2359px
    right: 378px
  @include mobile ()
    top: 2170px
    left: 200px
