@use "../variables" as *
@use "../mixins" as *

.section__block-three
  @include centered-flex ()
  height: 100vh
  width: 100%
  position: relative
  bottom: 160px
  z-index: 6
  @include tablet ()
    height: 50vh
    top: 1100px
    flex-flow: column wrap
  @include mobile ()
    height: 60vh
    bottom: 55px
    width: 100%
  .article-block
    @include tablet ()
      width: 50%
    @include mobile ()
      width: 100%

.section__content
  width: 40vw
  @include mobile ()
   width: 50vw

.section3-img
  width: 473px
  height: 482px
  border: 1px solid $secondary-color
  border-radius: 360px
  transition: transform 120s linear
  animation: rotate 20s linear infinite
  @include tablet ()
    width: 280px
    height: 292px
  @include mobile ()
    width: 174px
    height: 174px

@keyframes rotate
  from
    transform: rotate(-360deg)
