@use "../variables" as *
@use "../mixins" as *

.section__block-three
  @include centered-flex ()
  height: 100vh
  width: 100%
  position: relative
  bottom: 160px
  z-index: 6

.section__content
  width: 40vw

.section3-img
  width: 473px
  height: 482px
  border: 1px solid $secondary-color
  border-radius: 360px
  transition: transform 120s linear
  animation: rotate 20s linear infinite

@keyframes rotate
  from
    transform: rotate(-360deg)
