$primary-color: #116
$secondary-color: #fff

.Header
  display: flex
  flex: 0 0 auto
  align-items: center
  justify-content: space-between
  width: 100%
  height: 70px
  background-color: $primary-color

.UsernameBlock
  display: flex
  align-items: center
  justify-content: space-around
  width: 20%
  color: $secondary-color

.NavBlock
  display: flex
  align-items: center
  justify-content: space-around
  width: 40%
  color: $secondary-color

.SignOutButton
  width: 80px
  height: 50px
  margin-right: 20px
  border-radius: 50%
  border-top: 6px solid #acb
  border-right: 5px solid #acb
  border-bottom: 3px solid #acb
  border-left: 1px solid #acb
  color: $primary-color

.NotLogged
  width: 200px
  height: 30px
  display: flex
  justify-content: center
  align-items: center
  margin-right: 20px
  border-radius: 50%
  border-top: 6px solid #acb
  border-right: 5px solid #acb
  border-bottom: 3px solid #acb
  border-left: 1px solid #acb
  color: $secondary-color
