@mixin centered-flex ()
  display: flex
  justify-content: center
  align-items: center

@mixin space-around-flex ()
  display: flex
  justify-content: space-around
  align-items: center

@mixin space-between-flex ()
  display: flex
  justify-content: space-between
  align-items: center

@mixin pointer ()
  cursor: pointer

@mixin radius ()
  border-radius: 45px

@mixin ref-reset
  text-decoration: none
  cursor: pointer
  &:visited
    text-decoration: none
  &:active
    text-decoration: none
