.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__block {
  position: relative;
  height: 100px;
  z-index: 4;
}

.header__block_primarybg {
  background-color: #ff7f7f;
  opacity: 0.8;
}

.logo__image {
  width: 80px;
  height: 60px;
  user-select: none;
}
.logo__image:hover {
  cursor: pointer;
  transform: scaleX(-1);
}

.header__navigation {
  width: 60%;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .header__navigation {
    flex-flow: column wrap;
  }
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .navigation-list {
    position: absolute;
    top: 120px;
    left: -75px;
    flex-flow: column;
  }
}

.navigation-list__item {
  display: inline-block;
  width: 20%;
  font-weight: 700;
  font-size: 1rem;
  list-style: none;
  color: #fff;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .navigation-list__item .link_colors-sec {
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px #111, 0 0 2rem #111;
  }
}

.navigation-list__item_hover:hover {
  cursor: pointer;
  transform: scaleY(2);
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .navigation-list__item_hover:hover {
    transform: none;
  }
}

.search-form__field {
  position: relative;
  width: 0;
  border: 1px solid #fff;
  border-radius: 45px;
  font-size: 100%;
  opacity: 0;
  transition: opacity 0.5s linear;
  transition: width 0.5s linear;
}
.search-form__field:focus {
  width: 250px;
  border: 1px solid #fff;
  border-radius: 45px;
  outline: none;
  opacity: 1;
  transition: opacity 0.5s linear;
  transition: width 0.5s linear;
}

.search-form__image {
  cursor: pointer;
}

.article-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  user-select: none;
}

.article-block__elem {
  width: 300px;
  padding-top: 70px;
  margin-left: 60px;
  padding-left: 50px;
  user-select: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-block__elem {
    padding-left: 40px;
    width: 350px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .article-block__elem {
    width: 250px;
    align-items: center;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 115px;
  }
}

.article-block__elem-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-block__elem-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex-wrap: nowrap;
    text-align: left;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .article-block__elem-two {
    width: 90%;
  }
}

.article-block__text_sec {
  font-size: 1.5rem;
  color: #fff;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .article-block__text_sec {
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px #111, 0 0 2rem #111;
  }
}

.article-block__text_prim {
  font-size: 1.5rem;
  color: #ff7f7f;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-block__text_prim {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .article-block__text_prim {
    font-size: 1.3rem;
  }
}

.article-block__elem_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-block__text_centered {
  text-align: center;
}

.article-title_secondary {
  font-size: 3.5rem;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-title_secondary {
    font-size: 3rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .article-title_secondary {
    font-size: 2rem;
    text-shadow: 1px 1px 2px #111, 0 0 2rem #111;
  }
}

.article-title_primary {
  font-size: 3.5rem;
  color: #ff7f7f;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-title_primary {
    font-size: 3rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .article-title_primary {
    font-size: 2rem;
  }
}

.footer-article-block {
  width: 30%;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-article-block {
    width: 100%;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.link-reset {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.link-reset:visited {
  text-decoration: none;
}
.link-reset:active {
  text-decoration: none;
}

.button__item {
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 45px;
}
.button__item:hover {
  cursor: pointer;
  color: #fff;
  background: #f5d8e5;
  background: radial-gradient(circle, #f5d8e5 1%, #dd4664 99%);
}

.button__subscibe {
  position: relative;
  bottom: 51px;
  left: 65vw;
}

.button__item_color-sec {
  background-color: #fff;
}

.button__item_color-prim {
  background-color: #ff7f7f;
}

.link_colors-prim {
  color: #ff7f7f;
}

.link_colors-sec {
  color: #fff;
}

.section {
  display: flex;
  align-items: center;
}

.section__block {
  position: relative;
  width: 100%;
  height: 185vh;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__block {
    height: 50vh;
  }
}

.section__bg-img {
  width: 100%;
  height: 150vh;
  position: absolute;
  top: -100px;
  background-image: url("../assets/section_first_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .section__bg-img {
    background-size: 90% 30%;
    top: 125px;
    left: -43px;
    transform: scale(1.5);
    overflow: hidden;
  }
}

.section__block_bg-primary {
  background-color: #ff7f7f;
}

.section__block_bg-secondary {
  background-color: #fff;
}

.section__block-two {
  align-items: flex-end;
  position: absolute;
  top: 630px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__block-two {
    top: 60vh;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .section__block-two {
    top: 445px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__block-two .article-block__text_sec {
    margin-left: 50px;
  }
}

.section__block_bg-primary {
  background-color: #ff7f7f;
  z-index: 2;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__block_bg-primary {
    background-size: 100% 200vh;
  }
}

.card-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-group {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .card-group {
    flex-wrap: wrap;
  }
}

.card-group__elem {
  margin: 20px 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 50%;
    height: 500px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .card {
    width: 75%;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .card-img {
    height: 110px;
    width: 110px;
  }
}

.card-img_rotate {
  transition: 3s;
}
.card-img_rotate:hover {
  transform: rotate(360deg);
}

.card-img_rotate-left {
  transition: 3s;
}
.card-img_rotate-left:hover {
  transform: rotate(-360deg);
}

.section__block-three {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  bottom: 160px;
  z-index: 6;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__block-three {
    height: 50vh;
    top: 1100px;
    flex-flow: column wrap;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .section__block-three {
    height: 60vh;
    bottom: 55px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__block-three .article-block {
    width: 50%;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .section__block-three .article-block {
    width: 100%;
  }
}

.section__content {
  width: 40vw;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .section__content {
    width: 50vw;
  }
}

.section3-img {
  width: 473px;
  height: 482px;
  border: 1px solid #fff;
  border-radius: 360px;
  transition: transform 120s linear;
  animation: rotate 20s linear infinite;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section3-img {
    width: 280px;
    height: 292px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .section3-img {
    width: 174px;
    height: 174px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}
.section__block-four {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  z-index: 8;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section__block-four {
    flex-flow: column wrap;
    top: 1100px;
  }
}

.email-input__elem {
  width: 50%;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 45px;
  outline: none;
  font-size: 1.5rem;
}

.email-input__elem_bg {
  background-color: #f3f3f3;
}

.decor-image {
  z-index: 20;
}

.decor-image_position {
  position: absolute;
}

.decor-image__elem-left {
  top: 300px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .decor-image__elem-left {
    top: 80px;
  }
}

.decor-image__elem-right {
  left: 85vw;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .decor-image__elem-right {
    top: 50px;
  }
}

.decor-image__left-upper {
  right: 80vw;
  bottom: 880px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .decor-image__left-upper {
    top: -780px;
  }
}

.decor-image__left-lower {
  right: 962px;
  top: 370px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .decor-image__left-lower {
    top: 360px;
    right: 585px;
  }
}

.decor-image__right-upper {
  left: 80vw;
  bottom: 900px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .decor-image__right-upper {
    top: 50px;
  }
}

.decor-image__right-lower {
  right: 182px;
  bottom: 190px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .decor-image__right-lower {
    right: 465px;
  }
}

.footer__elem {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}

.footer__section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  bottom: -150px;
  left: 0;
  padding-bottom: 100px;
  height: 520px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__section {
    top: 500px;
    flex-flow: column-reverse;
    align-items: flex-end;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .footer__section {
    top: 100px;
    flex-flow: column-reverse;
    align-items: flex-end;
  }
}

.footer__elem_dark-bg {
  background-color: #111;
  color: #fff;
}

.footer-article-block {
  width: 30%;
  padding-left: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-article-block {
    padding-right: 58px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .footer-article-block {
    padding-right: 58px;
  }
}

.nav-block {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-block {
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .nav-block {
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-block__column {
    width: 20%;
    height: 200px;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .nav-block__column {
    width: 20%;
    height: 200px;
  }
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 45px;
}

.round_light {
  background-color: #fff;
}
.round_light:hover {
  cursor: pointer;
  color: #fff;
  background: #f5d8e5;
  background: radial-gradient(circle, #f5d8e5 1%, #dd4664 99%);
}

.fa {
  color: #111;
}

.social-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-top: 20px;
}

html {
  font-family: Arial;
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
