.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__block {
  height: 100px;
}

.header__block_primary-bg {
  background-color: #ff7f7f;
  opacity: 0.8;
}

.logo__image {
  width: 80px;
  height: 60px;
  user-select: none;
}
.logo__image:hover {
  cursor: pointer;
  transform: scaleX(-1);
}

.header__navigation {
  width: 60%;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation-list__item {
  display: inline-block;
  width: 20%;
  font-weight: 700;
  font-size: 1rem;
  list-style: none;
  color: #fff;
  -ms-user-select: none;
  user-select: none;
}

.navigation-list__item_hover:hover {
  cursor: pointer;
  transform: scaleY(2);
}

.search-form__field {
  position: relative;
  width: 0px;
  border: 1px solid #fff;
  border-radius: 45px;
  font-size: 100%;
  opacity: 0;
  transition: opacity 2s;
  transition: width 0.5s linear;
}
.search-form__field:focus {
  width: 250px;
  border: 1px solid #fff;
  border-radius: 45px;
  outline: none;
  opacity: 1;
  transition: opacity 2s;
  transition: width 0.5s linear;
}

.search-form__image {
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.button__item {
  border: 1px solid #fff;
  border-radius: 45px;
  width: 200px;
  height: 50px;
}
.button__item:hover {
  cursor: pointer;
  color: #fff;
  background: #f5d8e5;
  background: radial-gradient(circle, #f5d8e5 1%, #dd4664 99%);
}

.button__item_colors-sec {
  color: #ff7f7f;
  background-color: #fff;
}

.section {
  display: flex;
  align-items: center;
}

.section__block {
  position: relative;
  bottom: 300px;
  width: 100%;
  height: 200vh;
}

.section__block_bg-img {
  position: absolute;
  top: 1px;
  background-image: url("../assets/section_first_bg.png");
  background-color: #ff7f7f;
  background-size: contain;
  repeat: no-repeat;
  z-index: -1;
}

.article-block__elem {
  width: 450px;
  margin-left: 60px;
  padding-left: 50px;
  margin-top: 280px;
  user-select: none;
}

.article-title_secondary {
  font-size: 3.5rem;
  color: #fff;
}

.article-block__text {
  font-size: 1.5rem;
  color: #fff;
}

.section__block-two {
  position: absolute;
  top: 100vh;
  width: 100%;
}

.section__block_bg-primary {
  background-color: #ff7f7f;
  background-size: 100% 140vh;
  repeat: no-repeat;
  z-index: 2;
}

.article-block__elem_centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article-block__text_centered {
  text-align: center;
}

.card-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-group__elem {
  margin: 100px 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
}

.card-img_rotate {
  transition: 3s;
}
.card-img_rotate:hover {
  transform: rotate(360deg);
}

.card-img_rotate-left {
  transition: 3s;
}
.card-img_rotate-left:hover {
  transform: rotate(-360deg);
}

.decor-image_position {
  position: absolute;
}

.decor-image__elem-left {
  top: 300px;
}

.decor-image__elem-right {
  left: 85vw;
}

html {
  font-family: Arial;
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
