@use "../variables" as *
@use "../mixins" as *
  
.footer
  display: flex
  justify-content: space-around
  align-items: flex-end
  position: relative
  height: 520px
  padding-bottom: 100px
  margin-top: -540px
  @include mobile ()
    margin-top: -70px
    padding-right: 58px

.footer__section
  display: flex
  justify-content: space-around
  align-items: flex-end
  width: 100%
  @include tablet ()
    flex-flow: column-reverse
    align-items: flex-end
  @include mobile ()
    flex-flow: column-reverse
    align-items: flex-end

.footer_dark-bg
  background-color: $third-color
  color: $secondary-color

.footer-article-block
  width: 30%
  padding-left: 30px
  @include tablet ()
    padding-right: 58px
  @include mobile ()
    width: 50%
    padding-top: 60px

.nav-block
  width: 45%
  display: flex
  justify-content: space-around
  align-items: flex-start
  list-style: none
  padding-bottom: 25px
  @include tablet ()
    margin: 0 auto
    width: 80%
    flex-wrap: wrap
  @include mobile ()
    justify-content: space-between
    width: 80%
    flex-wrap: wrap

.nav-block__column
  @include tablet ()
    width: 20%
    height: 200px
  @include mobile ()
    width: 20%
    height: 200px
