$primary-color: #116
$secondary-color: #fff

.LoginWrapper
  width: 400px
  height: 200px
  margin: 100px auto
  display: flex
  align-items: center
  justify-content: space-around
  flex-direction: column
  border: 12px solid $primary-color
  color: $primary-color
  background-color: $secondary-color

.Font
  width: 100%
  height: 10px
  font-size: 10px
